.logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.myimg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

#predictButton {
    margin-bottom: 80px;
}

.category-button {
    padding: 20px 40px;
    font-size: 22px;
    font-weight: 600;
    border-radius: 10px;
    width: 180px;
    height: 70px;
}

#footer-wrapper {
    padding: 40px;
    margin: auto;
    /*border: 2px solid red; /* red border box */
    /*border-radius: 20px;*/
    display: inline-block; /* fits only around the buttons */
    text-align: center;
    /*background-color: #d3d3d3; /* light ash color */
}

#footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* space between buttons */
}
